body {
    height: 100vh;
    margin: 0;

}

.title {
    display: flex;
    justify-content: center;
}

.status-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 600px;
    min-height: 75vh;
}


.rabbit-path {
    display: flex;
    flex-direction: row;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}